/*body {
	background-color: salmon;
}*/

*{
	box-sizing: border-box;
}

html, body {
	height: 100%;
	
}

/* main {
	margin: auto;
}
*/


.grid-container {
	display: grid;
	width: 900px;
	height: 400px;
	background-color: orange;
	grid-template-columns: 1fr, 1fr, 1fr;
	grid-template-rows: 3fr, 1fr;
	justify-content: center;

	/*max-width: 600px;
	margin: auto;
	border: 5 px solid black; */	
}

.question {
	grid-column: 1 / 4;
}

.input2 {
	grid-column: 3 / 4;
}