/*body {
	background-color: salmon;
}*/

*{
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 900px;
}

/* main {
	margin: auto;
}
*/


.grid-container {
	display: grid;
	background-color: orange;
	grid-template-columns: 1fr, 1fr, 1fr;

	/*max-width: 600px;
	margin: auto;
	border: 5 px solid black; */
	
}